.profile-sub-title{
    color: #562EFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
.hello-txt{
    color: #070318;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
.social-media a i{
    color: #562EFF;
    transition: transform .5s;
}
.social-media a i:hover{
    color: rgb(13, 6, 43);
    transform: scale(1.2);
}
.profile-img{
   height: 100%;
   width: 60%;
   
}
